In [3]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

In [4]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
True
False
True
False

In [5]:
dia = [10, 5, 3 , 6, 4, 6, 8, 3, 2, 1, 0]

dia[2]

3

In [6]:
z = [3,8, 9]
z[0] = 7
z

[7, 8, 9]

In [8]:
v = [6, 7, 5, 8, 9]
l = v
print(v)
print(l)
print(v is l)

In [11]:
a = [81, 82, 83]
b = a[:]
print(a == b)
print(a is b)
b[0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [12]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']
print(uma_lista[1:3])
print(uma_lista[:3])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [13]:
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a[3])

IndexError: list index out of range

In [17]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
minhaLista[4] = "pitomba"
minhaLista[3] = "Cibele"
minhaLista[0] = 99

print('O índice de "oi" é 0: ', minhaLista[0] == "oi")
print('O índice de "oi" é 1: ', minhaLista[1] == "oi")
print('O índice de "oi" é 2: ', minhaLista[2] == "oi")
print('O índice de "oi" é 3: ', minhaLista[3] == "oi")
print('O índice de "oi" é 4: ', minhaLista[4] == "oi")
print('O índice de "oi" é 5: ', minhaLista[5] == "oi")

O índice de "oi" é 0:  False
O índice de "oi" é 1:  False
O índice de "oi" é 2:  True
O índice de "oi" é 3:  False
O índice de "oi" é 4:  False
O índice de "oi" é 5:  False

In [18]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
minhaLista = minhaLista[:] + ["pitomba", 76]
minhaLista = minhaLista[:3] + ["Cibele"] + minhaLista[3:]
minhaLista = [99] + minhaLista[:]
print(minhaLista)
minhaLista = minhaLista[0:5] + minhaLista[6:]
print(minhaLista)

[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [22]:
minhaLista = [76, 92.3,"oi", True, 4, 76]

minhaLista[10:] = ["pitomba", 76]

print(minhaLista)

minhaLista[3] = "Cibele"
print(minhaLista)

minhaLista[0] = "99"
print(minhaLista)

[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]
[76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]
['99', 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [ ]:
uma_lista = [4, 2, 8, 6, 5]
uma_lista = uma_lista + ['Cibele']
print(uma_lista)

In [27]:
tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [25]:
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [26]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [28]:
tupla_vazia = ()
tupla_vazia

()

In [29]:
dicio = {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [30]:
d = {'laranjas': 15, 'bananas': 35, 'seringuelas': 12}
d['bananas']

35

In [31]:
d['pitomba'] = 20
len(d)

4

In [33]:
'pitomba' in d
'pears' in d

False

In [34]:
del d['laranjas']
'laranja' in d

False

In [39]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
print([1, 2] + [3, 4])
print(frutas + [6, 7, 8, 9])

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [40]:
print([0]*4)
print([1, 2, ['oi, tchau']]*2)

[0, 0, 0, 0]
[1, 2, ['oi, tchau'], 1, 2, ['oi, tchau']]